.jedibody
{
    background-image: url("../pictures/jedi_bg.jpg");
    background-size: 1950px 930px;
    background-repeat: no-repeat;
}

.sithbody
{
    background-image: url("../pictures/sith_bg2.jpg");
    background-size: 1950px 930px;
    background-repeat: no-repeat;
}

h1
{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 65px;
}

p
{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
}

.sabre
{
    display: flex;
    justify-content: space-around;
}

img
{
    width: 400px;
    height: 400px;
}

figcaption
{
    color: white;
    font-size: 35px;
    text-align: center;
}