body
{
    background-image: url("../pictures/star_wars2.jpg");
    background-size: 1950px 930px;
    background-repeat: no-repeat;
}

a
{   
    display: flex;
    justify-content: center;
}

img
{
    width: 300px;
    height: 200px;
}

div p
{
    font-size: 65px;
    color: red;
    position: absolute;
    bottom: 0;
    right: 5%;
    left: 20%;
}